.forms {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.login, .registration {
    width: 100%;
    margin: 20px;
}

.label {
    width: 80%;
}

.form-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.form-button {
    width: 200px;
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin-top: 15px;
}

.registration-status {
    font-size: 30px;
    color: greenyellow;
    line-height: 35px;
    font-weight: bolder;
    margin-top: 10px;
}

@media (min-width: 375px) and (max-width: 900px) {
    .forms {
        flex-wrap: wrap;
        padding: 20px;
    }

    .login, .registration {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .registration-status {
        font-size: 30px;
        color: greenyellow;
        line-height: 35px;
        font-weight: bolder;
        text-align: center;
        margin-top: 10px;
    }

    .form-title {
        font-size: 25px;
        margin-bottom:20px;
    }

    .label {
        width: 80%;
    }

    .input {
        margin-bottom: 10px;
    }
}

@media (min-width: 601px) {

    .label {
        width: 80%;
    }

}

@media (min-width: 1900px) {

    .login, .registration {
        margin: 0 90px;
    }

    .label {
        width: 100%;
    }

}

@media (min-width: 2200px) {

    .login, .registration {
        margin: 0 120px;
    }

    .label {
        width: 100%;
    }

}