body {
    background-color: darkslategray;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 50px;
    color: white;
    padding: 30px 20px;

}

.title, .colection {
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.title:hover, .colection:hover {
    color: white;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: black;
}

.account {
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log-in {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}
.log-in:hover {
    color: white;
}

.carusel-block {
    width: 70%;
    margin: 0 auto;
    background-size: cover;
    margin-top: 30px;
}
.favorites {
    display: flex;
    position: relative;
    margin: 0 15px;
}

.basket, .logout { 
    margin: 0 15px;
    cursor: pointer;
}

.favorites-length {
    color: white;
    font-size: 12px;
    position: absolute;
    left: 9px;
    top: 2px;
}







